body {
  margin: 0;
  font-family: sans-serif;
}

.header {
  text-align: center;
  background-color: #232224;
}

.infos {
  width: 988px;
  margin: 140px auto;
}

.info1 {
  width: 450px;
  background-color: #ffd76b;
  float: left;
}

.info2 {
  width: 450px;
  background-color: #8d6e63;
  float: right;
}

.infos .fonte {
  margin-top: 20px;
}

.container {
  margin: 320px auto 100px auto;
}

.container h2 {
  text-align: center;
}

.container .calc {
  text-align: center;
  background-color: #fefbff;
  border-radius: 10px;
  box-shadow: 0px 20px 80px rgba(0, 0, 0, 0.25);
  width: 400px;
  margin: 0 auto;
}

.container .calc input {
  width: 230px;
  height: 30px;
  border-radius: 5px;

  border: 1px solid #353436;
  background: #f7f2fa;
  color: rgba(0, 0, 0, 0.6);
}

.btn-container {
  margin-top: 20px;
}

.btn {
  width: 150px;
  height: 50px;
  color: #fefbff;
  border: 0;
  cursor: pointer;
}

.btn-container .btn-calc {
  background-color: #50e170;
}

.btn-container .btn-cotacao {
  background-color: #f05454;
}

.relatorio {
  text-align: center;
}

.relatorio #container_relatorio {
  text-align: center;
  background-color: #fefbff;
  border-radius: 10px;
  box-shadow: 0px 20px 80px rgba(0, 0, 0, 0.25);
  width: 500px;
  margin: 0 auto;
}

.relatorio #container_relatorio #conteudo_perda {
  float: left;
}

.relatorio #container_relatorio #conteudo_melhora {
  float: right;
}